* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(250, 237, 221);
  --secondary-color: rgb(1, 131, 131);
  --tertiary-color: #fff;
  --fourth-color: rgb(22, 164, 22);
  --header-color: #f0bb72;
  --sidebar-color: #e4d1a1;
  --font-color: #000;
  --box-shadow: rgba(0, 0, 0, 0.5);
  --logo-inversion: 0%;
  --error-color: red;
}

:root[theme='dark'] {
  --primary-color: #2c3e50; /* Dark Blue Gray */
  --secondary-color: #3498db; /* Dodger Blue */
  --tertiary-color: #2c3e50; /* Dark Blue Gray */
  --fourth-color: #27ae60; /* Nephritis Green */
  --header-color: #000; /* Dark header color, adjust as needed */
  --sidebar-color: #23272f; /* Dark sidebar color, adjust as needed */
  --font-color: #fff; /* White font color for dark mode */
  --box-shadow: rgba(255, 255, 255, 0.1); /* White with reduced opacity for shadows */
  --logo-inversion: 100%;
  --error-color: yellow;
}

.container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  min-height: 100vh;
}

.header {
  grid-column: 1 / 3;
  background-color: var(--header-color);
  padding: 5px 18px;
  display: grid;
  grid-template-columns: 0.4fr 2fr 6fr;
  align-items: center;
  color: var(--font-color);
  position: fixed;
  width: 100%;
}

.logo {
  filter: invert(var(--logo-inversion));
}

.theme {
  justify-self: end;
  cursor: pointer;
  filter: invert(var(--logo-inversion));
}

.main {
  grid-column: 2 / 3;
  background-color: var(--primary-color);
  padding: 6px 18px;
  margin-top: 60px;
}

.aside {
  grid-column: 1 / 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background-color: var(--sidebar-color);
  margin-top: 60px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  display: grid;
  border: 1px solid var(--secondary-color);
  height: 300px;
  padding: 25px;
  max-width: 350px;
  gap: 25px;
  border-radius: 4px;
  background-color: var(--tertiary-color);
  box-shadow: 5px 5px 8px var(--box-shadow);
  color: var(--font-color);
}

.buttons-div {
  display: flex;
  justify-content: space-evenly;
}

button {
  border: none;
  background-color: var(--secondary-color);
  padding: 10px 25px;
  color: var(--primary-color);
  border-radius: 24px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  color: var(--font-color);
  font-weight: bold;
}

button:hover {
  background-color: var(--fourth-color);
}

.aside > button {
  width: min(50%, 150px);
}

form {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  background-color: var(--tertiary-color);
  width: 90%;
  gap: 4px;
  color: var(--font-color);
}
form input {
  width: 100%;
}

form input[type='text'] {
  border-radius: 4px;
  outline: none;
  border: 2px solid var(--secondary-color);
  padding: 4px;
}

form > div {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  margin-bottom: 10px;
}

form input[type='checkbox'] {
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  accent-color: var(--secondary-color);
}

form > button {
  justify-self: center;
}

form > button:disabled {
  background-color: gray;
}

.red-error {
  font-size: 0.6rem;
  color: var(--error-color);
}

input[type='text'].red-border {
  border: 2px solid var(--error-color);
  outline: var(--error-color);
}
